---
title: About Us
component: ContentPage
---
h3 Deployment
p.
  Sonic Mobile Deployment enables you to seamlessly deploy your app over distance.
  You can choose between Blue/Green Deployment, A/B-Testings or a complete rollout over all devices.
p.
h3 Monitoring
p.
  Be always up-to-date. Sonic Mobile Deployment provides nice graphics how many devices are already updated and which update failed for which devices.
  Those data will help you to improve your app deployment process.
p.
h3 Issue Reporter
p.
  For failing updates, Sonic Mobile Deployment creates automatically issues in your github project. That helps you to not miss any deployment bugs.
p.
  We wish you happy roll outs!
